// Include fetchngs configuration
includeConfig 'subworkflows/fetchngs/nextflow.config'
// Include rnaseq configuration : WARNING: can override configuration defined above.
// includeConfig 'subworkflows/rnaseq/nextflow.config'

params {

    // Fetchngs parameters
    // input = null   :: Use default nf-core option
    fetchngs_outdir = null

    // Rnaseq parameters
    // outdir = null
}